<div class="container container_m">
  <div>
      <div class="proj-cont">
        <h2>Assign your project</h2>
        <form action="/uploadFile" [formGroup]="projectForm" class="pr-form" (ngSubmit)="onSubmit()"  enctype="multipart/form-data">
          <div class="container">
            <mat-form-field>
              <input formControlName="name" matInput placeholder="Name of project" required class="pr-full-width">
              <mat-hint>Enter project name...</mat-hint>
              <mat-error *ngIf="projectForm.controls.name.invalid">
                Name of project is required
              </mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <textarea formControlName="description" matInput placeholder="Description" required class="pr-full-width"></textarea>
              <mat-hint>Enter project description...</mat-hint>
              <mat-error *ngIf="projectForm.controls.description.invalid">
                Description is required
              </mat-error>
            </mat-form-field>
            <div style="margin: 2vh 2vw; display: flex;     justify-content: space-around;">
              <div>
                <input (change)="fileChange($event)" formControlName="filePath" hidden id="input-file-id" type="file" />
                <label for="input-file-id"><a mat-raised-button color="{{ isSelected }}">Choose Files</a></label>
              </div>
              <button mat-raised-button color="primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>