<div class="container" style="text-align: center;">
    <div>
        <h2 style="margin: 4vh 4vw;">Cookie Policy</h2>
        <p style="margin: 4vh 4vw;">
            Our website uses small data files called cookies to improve functionality and your user experience. 
            A cookie is a small text file that a website saves on your computer or mobile device when you visit 
            the site. It enables the website to remember your actions and preferences (such as login, language, 
            font size and other display preferences) over a period of time, so you don’t have to keep re-entering 
            them whenever you come back to the site or browse from one page to another.
        </p>
        <p style="margin: 4vh 4vw;">
            You can choose which cookies to block or allow by changing your browser settings. Please note 
            that some functions of our website require the use of cookies to work properly, and that by 
            blocking cookies you may not be able to access all or some portions of our website.
        </p>
    </div>
</div>