<div class="container" style="height: auto;min-height: 80%;margin-top: 50px;align-content: baseline;">
    <div style="padding: 0 5vw;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let index = index"> {{index}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> FullName </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Is Admin </th>
                <td mat-cell *matCellDef="let element"><mat-slide-toggle (change)="onChange($event, element)" [disabled]="checkedAdmin(element)" [checked]="checked(element)"></mat-slide-toggle></td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actiom </th>
                <td mat-cell *matCellDef="let element"> 
                    <button [disabled]="checkedAdmin(element)" style="margin-right: 2vw;"mat-raised-button color="accent" (click)="openModal(element.id, element.username)" >
                        Delete user
                    </button>
                    <a mat-raised-button color="primary" [routerLink]="['/listprojects', element.username]" param>
                        Get projects
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
    </div>
</div>

<userdelete-modal (refreshEvent)="refresh($event)" id="userdelete">
    <input type="text" [(ngModel)]="deletedInput" hidden id="repeatName"/>
    <input type="text" [(ngModel)]="deletedId" hidden id="id"/>
</userdelete-modal>